@import url("https://fonts.googleapis.com/css?family=Signika");

$white: #FFF;
$black: #000;
$main-color: #990000;
$main-font: 16px;
$main-font-family: Signika;

#button-menu {
    background: $white !important;
    font-family:$main-font-family;
    font-size: $main-font + 2px;
    border-radius: 0px;
}