@import url("https://fonts.googleapis.com/css?family=Signika");
#button-menu,
#navbarCollapse,
#brand,
#brand img {
  height: 100%; }

#brand,
#button-menu,
#navbarCollapse {
  min-height: 90px; }

#button-menu {
  background: #FFF !important;
  font-family: Signika;
  font-weight: bold;
  border: 0px;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px; }

#brand img {
  width: 100%;
  max-width: 180px;
  max-height: 70px; }

#messages-menu {
  min-width: 115px; }

#navbar-list li > a {
  font-size: 17px; }

