@import url("https://fonts.google.com/specimen/Signika?selection.family=Signika");
body {
  margin: 0px;
  padding: 0px; }

#navigation-button-menu {
  background: #ffffff !important;
  font-family: Signika;
  margin-bottom: 0px !important; }

#navigation-button-menu,
#nav-button-container,
#button-list {
  min-height: 75px !important; }

#search-bar label,
#search-bar input {
  float: left; }

#search-bar label {
  font-size: 18px; }

#search-bar input {
  width: 65%; }

