@import url("https://fonts.googleapis.com/css?family=Signika");

@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {     
    margin: auto;
    float: none;
}

$max-width: 100%;
$max-height: 100%;
$white: #FFFFFF;
$black: #000000;
$main-color: #990000;
$main-font: 16px;
$main-font-family: Signika;

#button-menu,
#navbarCollapse,
#brand,
#brand img {
    height: 100%;
}
#brand,
#button-menu,
#navbarCollapse {
    min-height: 70px;
}
#button-menu {
    background: $white !important;
    border: 0px;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px;
    margin-bottom: 0px;
    #brand {
        padding: 10px;
        img {
            width: 100%;
            max-width: 170px;
            max-height: 60px;
        }
    }
}
#navbar-list {
    margin: 1% 0% 0% 16% !important;
    li>a {
            font: {
                family:$main-font-family;
                weight: bold;
                size: $main-font + 1px; 
            }
            color: $black;
            &:hover {
                color: $main-color;
            }
    }
}
input[type="search"] {

}
#messages {
    background: $white !important;
}
ul#messages-menu {
    min-width: 100px;
}
.login-position {
    padding-left: 4px;
}